/*DEVELOPER: Bruno Quinones, IS117-002, Spring 2023 */
*{
  margin: 0;
  padding: 0;

}


header h1{
  font-weight: bold;
  color: #E7D9BA;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: block;
  background-image: url("final_project/images/background.jpeg");
  background-color: #393646;
  margin: 0;
}

#wiwr h1{
  background-color: #393646;
  font-weight: bold;
  color: #E7D9BA;
  padding: 20px 10px;

}

h2{
  font-weight: bold;
  color: #E7D9BA;
  margin: 25px 0;
  padding-left: 10px;
}
.card-subtitle{
  padding-left: 20px;

  padding-bottom: 0;
  color: #E7D9BA;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 98%;
  max-width: 960px;
  margin: 0 auto;
  /*border: 3px solid #931420;*/
  background-color: #4F4557;
  padding-bottom: 100px;
}


table .card-img-top{
  width: 140px;

}
table .text{
  float: left;
  text-align: left;
  font-size: 12px;
  padding-left: 8px;

}


.card-rating{
  margin: 0;
  padding-left: 48px;
  float: right;
}

.rating p{
  margin-top: 5px;
  float: left;
  align-items: center;
  font-size: 16px;
  padding-right: 7px;
}


.btn-primary{
  margin-top: 5px;
  margin-left: 18px;
  border-color: #393646;
  background-color: #393646;
  color: #E7D9BA;

}

.btn-primary:hover{
  border-color: #393646;
  background-color: #4F4557;
  color: #E7D9BA;

}

.card{
  max-width: 18rem;
  max-height: 28rem;
  background-color: #393646;
  display: flex;
  margin: 0 10px;
}

.card-title{
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 0;
  color: #E7D9BA;
}



.card-body p{
  float: right;
  color: #E7D9BA;
}

.cards{
  display: flex;
}



#nav_menu ul{
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
}

#nav_menu ul li {
  flex-basis: 30%;
}
#nav_menu ul li a {
  display: block;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  background-color: #6D5D6E;
  color: white;
  font-weight: bold;
  margin-top: 0;
  z-index: 100;
}
#nav_menu a.current {
  color: #E7D9BA;
}
#nav_menu ul ul {
  width: 25%;
  display: none;
  position: absolute;
  top: 100%;
}
#nav_menu ul li:hover > ul {
  display: block;
}

#nav_menu > ul::after {
  content: "";
  display: block;
}

#nav_menu ul li ul a:hover{
  color: #F4EEE0;
}
#nav_menu ul li a:hover{
  color: #F4EEE0;
}




.footer {
  background-color: #393646;

}
.footer p {
  text-align: center;
  color: #E7D9BA;
  margin: 20px;
}
